*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width:960px;
    height:auto;
    margin:0 auto;
    overflow:hidden;
}
.nav{
    padding-right:150px;
    overflow:hidden;
}
.nav a{
    display:inline-block;
    float:right;;
    text-decoration:none;
    margin:10px;
    color:black;
}
.top-h {
    font-weight:bold;
    font-size:50px;
}

.colored{
    color:orange;
}
.button{
    text-decoration:none;
    padding:14px 30px;
    background:red;
    border-radius:7px;
    color:white;;
    margin-top:50px;
    display:inline-block;
}

.half-width{
    width:45%;
    float:left;
    margin-top:50px;
    margin-bottom:50px;
}
section{
    overflow:hidden;
}
.half-width img{
    width:70%;
    height:70%;
    margin-left:50px;
}
.about-h{
    font-size:30px;
    margin-bottom:50px;
}
.project-h{
    text-align:center;
    padding:70px 0 50px;
    font-size:40px;

}
.project{
    margin-bottom:400px;
}

.box{
    width:30%;
    margin:0 auto;
    text-align:center;

}
.left{
    display:inline-block;
    
}

.group{
    background-image: url(images/Group_33094_1.png);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;

}

footer{
    padding:50px;
    text-align:center;
} 

